



/* Center the task card container within the parent container */


/* .taskCardContainer {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;     
  gap: 20px;                 
  max-width: 75%;       
  width: 1000px;
}




.taskCard {
  flex: 1 1 calc(33.333% - 20px); 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  cursor: pointer;
  width: 90%;
  max-width: 300px;  
  min-width: 200px;          
  transition: transform 0.3s ease;
  margin: 20px 20px 20px 20px; 
}
  
  .taskCard:hover {
    transform: scale(1.05);
    margin: 20px 20px 20px 20px; 
  }
  
  .taskCardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  .taskCardDetails {
    margin-top: 20px;
    color: #555;
  }
  
  .taskCardExpand {
    display: none;
    margin-top: 25px;
  }
  
  .taskCardExpanded .taskCardExpand {
    display: block;
  } */